{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Food tracker</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    
    <!-- Other CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <h1>Add food</h1>
    <div class="input-group">
        <div class="form-outline">
          <input id="searchfood-input" type="search" class="form-control" placeholder="Search"/> 
        </div>
        <button id="searchfood-button" type="button" class="btn btn-primary" onclick="searchFood()">
            <i class="bi-search"></i>
        </button>
    </div>
    <br>
    <a class="suggestedFood" href="{% url 'foodSelected' %}">Suggested food</a>
  </body>
</html>

<script>
    function searchFood() {
        // TODO: add functionality to make this use the API to search for foods with what is entered in the search bar
    }
</script>

<style>
    body {
        background:rgb(181, 218, 218);
    }

    .homeMainPage {
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar {
        background:darkcyan;
        margin-left: 0px;
    }
    .nav-link,
    .navbar-brand {
        color: #fff;
        cursor: pointer;
    }
    .nav-link {
        margin-right: 1em !important;
    }
    .nav-link:hover {
        color: #000;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
</style>