{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Food tracker</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    
    <!-- Other CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <body>
      <!-- TODO: make the title the food that was selected -->
    <h1>Food selected</h1>
  </body>
</html>

<style>
    body {
        background:rgb(181, 218, 218);
    }

    .homeMainPage {
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar {
        background:darkcyan;
        margin-left: 0px;
    }
    .nav-link,
    .navbar-brand {
        color: #fff;
        cursor: pointer;
    }
    .nav-link {
        margin-right: 1em !important;
    }
    .nav-link:hover {
        color: #000;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
</style>